<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        <h1>ToDo</h1>
        <div class="flex">
            <form class="reg-item-name" action="/items/register" method="POST">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="ここにやることを入力..." required>
                <button class="primary" type="submit">登録</button>
            </form>
            <%- include('./partials/flash') %>
        </div>
        <div class="divider"></div>
        <ul>
            <% items.forEach(function(item) { %>
            <% if (item.done) { %>
                <li class="item cleared-item">
            <% } else { %>
                <li class="item">
            <% } %>
                    <div class="item-name">
                        <%= item.name %>
                    </div>
                    <form action="/items/modify/<%= item.id %>" method="GET" style="display:inline">
                        <button type="submit">編集</button>
                    </form>
                    <form action="/items/delete/<%= item.id %>" method="POST" style="display:inline;">
                        <button class="danger" type="submit">削除</button>
                    </form>
                    <form action="/items/complete/<%= item.id %>" method="POST" style="display:inline;">
                        <% if (item.done) {%>
                            <button type="submit">戻す</button>
                        <% } else { %>
                            <button class="primary" type="submit">完了</button>
                        <% } %>
                    </form>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>